---
http_interactions:
- request:
    method: get
    uri: http://us.battle.net/api/d3/data/artisan/jeweler
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 16 Aug 2012 06:38:40 GMT
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{

        "slug" : "jeweler",

        "name" : "Jeweler",

        "portrait" : "pt_jeweler",

        "training" : {

        "tiers" : [ {

        "tier" : 1,

        "levels" : [ {

        "tier" : 1,

        "tierLevel" : 1,

        "percent" : 0,

        "trainedRecipes" : [ {

        "slug" : "flawed-amethyst",

        "name" : "Flawed Amethyst",

        "cost" : 10,

        "reagents" : [ {

        "quantity" : 2,

        "item" : {

        "id" : "Amethyst_01",

        "name" : "Chipped Amethyst",

        "icon" : "amethyst_01_demonhunter_male",

        "displayColor" : "white",

        "tooltipParams" : "item/chipped-amethyst"

        }

        } ],

        "itemProduced" : {

        "id" : "Amethyst_02",

        "name" : "Flawed Amethyst",

        "icon" : "amethyst_02_demonhunter_male",

        "displayColor" : "white",

        "tooltipParams" : "recipe/flawed-amethyst"

        }

        }, {

        "slug" : "flawed-emerald",

        "name" : "Flawed Emerald",

        "cost" : 10,

        "reagents" : [ {

        "quantity" : 2,

        "item" : {

        "id" : "Emerald_01",

        "name" : "Chipped Emerald",

        "icon" : "emerald_01_demon[...]
