---
http_interactions:
- request:
    method: get
    uri: http://us.battle.net/api/d3/data/follower/enchantress
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 16 Aug 2012 06:38:40 GMT
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{

        "slug" : "enchantress",

        "name" : "Enchantress",

        "realName" : "d3.follower.enchantress.realName",

        "portrait" : "enchantress",

        "skills" : {

        "active" : [ {

        "slug" : "charm",

        "name" : "Charm",

        "icon" : "enchantress_charm",

        "level" : 15,

        "tooltipUrl" : "skill/enchantress/charm",

        "description" : "Charms an enemy to fight for you for 4 seconds.\r\n\r\nCooldown:
        25 seconds",

        "simpleDescription" : "Temporarily Charms an enemy to fight for you.",

        "skillCalcId" : "a"

        }, {

        "slug" : "forceful-push",

        "name" : "Forceful Push",

        "icon" : "enchantress_forcefulpush",

        "level" : 15,

        "tooltipUrl" : "skill/enchantress/forceful-push",

        "description" : "Summon an Arcane explosion 8 yards around an enemy, dealing
        100% weapon damage as Arcane and knocking back all monsters caught within
        it.\r\n\r\nCooldown: 10 seconds",

        "simpleDescription" : "Creates an explosion that deals massive d[...]
